.newTagInput__form {
    display: flex;
    height: 40px;
}


#new-tag-input {    
    width: 90px;
}

.newTagInput__submit {
    margin: 0;
    padding: 0;
    height: 40px;

}

.tagList {
    display: flex;
    flex-wrap: wrap;
}

.newTagInput__container {
    margin: auto;
    margin-left: 0;
    height: 40px;
}