.newTagInput__form {
    display: flex;
    height: 40px;
}

#new-tag-input {
    width: 155px;
    ;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
}

.newTagInput__container {
    margin: auto;
    margin-left: 0;
    height: 40px;
    margin-block: 5px;
}

.newTagInput__container .MuiAutocomplete-root {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.MuiOutlinedInput-root {
    border-radius: 0 !important;

}

.newTagInput__submit {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;

}

.newTagInput__submit>.MuiSvgIcon-fontSizeMedium {
    margin-top: 3px;
}

.newTagInput__submit>svg {
    margin: auto;
}

.newTagInput__newTag--button {
    margin: auto;
    margin-left: 30px;
    color: #9b9b9b;
    font-size: 13px;
    margin-bottom: 0;

}

.TextField-without-border-radius fieldset {}