{
    "plugins": [
        [
          "babel-plugin-root-import",
          {
            "rootPathSuffix": "./",
            "rootPathPrefix": "~/"
          }
        ]
      ],
      "presets": [
      [
        "next/babel",
        {
          "preset-react": { "throwIfNamespace": false }
        }
      ]
    ]
  
}