.filmCard {
    max-width: 98px;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    flex: 1 1;
    -webkit-flex: 1;
    text-align: center;
    min-width: 117px;
    margin-inline: 7px;
    margin-block: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filmCard--hover {
    transform: scale(1.05);
    transition: 0.25s;
}

.filmCard__img {
    border-radius: 5px;
    width: 100%;
}

.img--hover {
    transform: scale(1.1);
}

.filmCard__interaction {
    color: #3f51b5;
    top: -51px;
    left: 83px;
    position: relative;
    height: 50px;
    width: 40px;
    height: 40px;
    margin-bottom: -49px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 2px black);
}

.filmCardDetails__interaction {
    color: #3f51b5;
    top: -36px;
    left: 204px;

    position: relative;
    height: 50px;
    width: 40px;
    height: 40px;
    margin-bottom: -49px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 2px black);
}

.cardIcon--remove {
    color: #f44336;
}


.SearchFilmCard {
    max-height: 245px;
}

.SearchFilmCard__text {
    color: #99aabb;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.SearchFilmCard__title {
    font-size: 18px;
}

.SearchFilmCard__year {
    font-size: 12px;
}


.filmCardCompare__interaction {
    /* display: none; */
    top: 14px;
    position: relative;
    background: #3f50b5;
    height: 48px;
    border-radius: 5px;
    /* margin-bottom: -49 */
    /* px; */
}

.filmCardCompare__interaction--winner {
    height: 2px;
    background-color: gold;
}

.filmCard__interaction:hover {
    display: block;
    cursor: pointer;
}

.filmCard__newFilm {
    justify-content: center;
}

.filmCard__addFilm,
.filmCard__deleteFilm,
.filmCard__newFilm {
    display: flex;
    margin: auto;
    position: relative;
    top: 11px;
}

.filmCard__addFilm>svg,
.filmCard__deleteFilm>svg {
    margin: auto;
    margin-left: 0;
}

.filmCard__addFilm>p,
.filmCard__deleteFilm>p {
    margin: auto;
    font-size: 17px;
    margin-right: 0;
}

.cardIcon {
    font-size: 20px;
}

.commentCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    border: 1px solid grey;
    /* border-radius: 5px; */
    padding: 14px;
    box-sizing: border-box;
    margin-block: 12px;
    background: #0e2541;
}

.commentCard__container {
    /* display: flex;
flex-direction: column;
width: 100%;
margin: auto;
border: 1px solid grey;
border-radius: 5px;
padding: 8px;
box-sizing:border-box; */

}

.commentCard__header {
    display: flex;
    justify-content: space-between;
    height: 48px;
}

.commentCard__user {
    margin-right: 10px;
    /* text-transform: uppercase; */
}

.commentCard__text {
    /* padding-inline: 30px; */
    margin-bottom: 15px;
    margin-left: 5px;

}

.commentCard__interaction {
    display: flex;
    justify-content: end;
    margin-inline-end: 20px;
}

.commentCard__button {
    background-color: #c8c8c8;
    color: black;
    border-radius: 3px;
    height: 20px;
    /* width: 60px; */
    margin-inline: 5px;
    padding-block: 5px;
    padding-inline: 8px;
    text-align: center;
}

.commentCard__tagList {
    display: flex;
    margin-top: 27px;
}

.messageInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    border: 1px solid grey;
    /* border-radius: 5px; */
    padding: 14px;
    box-sizing: border-box;
    margin-block: 12px;
    background: #0e2541;


}

.commentCardEdit {
    background: blue;
}

.commentCardEdit .css-1txnhvm {
    margin-left: 11px;
    margin-bottom: 8px;
}

.commentCardEdit__body {
    display: flex;
    justify-content: space-between;

}

.commentCardEdit__buttons {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 58px;
}

.commentCardEdit__buttons>button {
    margin-inline: 8px;
}

.commentCardEdit__tagInput {
    margin-left: 8px;
}

.commentCardEdit__textInput {
    /* margin-left: 8px; */
}

.filmCardLarge {
    width: 196;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    -webkit-flex: 1;
    text-align: center;
    /* min-width: 234px; */
    margin-inline: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.filmCardLarge--winner {
    box-shadow: 0px 0px 6px 1px gold;
}

.filmCardLarge__img {
    border-radius: 5px;
    /* width: 100%; */
    height: 360px;
}

.filmCardLarge__img--hover {
    transform: scale(1.05);
    transition: .05s;
}

.filmCardDetails__img {
    border-radius: 5px;
    width: 100%;
    /* height: 300px; */
}

.filmCardLarge__interaction {
    /* display: none; */
    top: -55px;
    position: relative;
    background: rgba(200, 200, 200, .5);
    height: 50px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.filmCard__interaction:hover {
    display: block;
    cursor: pointer;
}

.filmCardLarge__score {
    /* display: none; */
    margin-top: 3px;
    text-align: center;
    font-size: 20px;
}

.filmCardLarge__score--winner {
    transform: scale(1.8);
}

.filmCard__addFilm,
.filmCard__deleteFilm {
    display: flex;
    margin: auto;
    position: relative;
    top: 11px;
}

.filmCard__addFilm>svg,
.filmCard__deleteFilm>svg {
    margin: auto;
    margin-left: 0;
}

.filmCard__addFilm>p,
.filmCard__deleteFilm>p {
    margin: auto;
    font-size: 17px;
    margin-right: 0;
}

.cardIcon {
    font-size: 20px;
}

.tagActivityCard {
    border: 1px solid #99aabb;
    max-width: 333px;
    border-radius: 5px;
    padding: 5px;
    margin-inline: 30px;
    max-height: 380px;
    min-width: 300px;

}

.tagActivityCard2 {
    border: 1px solid #99aabb;
    max-width: 333px;
    width: 500px;
    min-width: 360px;
    border-radius: 5px;
    /* padding: 5px
; */
    margin-inline: 30px;
    padding-right: 7px;
    max-height: 189px;
    display: flex;
}

.tagActivityCard__body {
    display: flex;
    flex-direction: column;
    min-width: 230px;
}

.tagActivityCard__header {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
}

.tagActivity__header--user {
    margin-left: 10px;
    text-transform: uppercase;
}

.tagActivity__header--filmTitle {
    display: flex;
    margin-left: 0px;
    text-transform: uppercase;
    max-height: 100px;
    text-align: left;
    align-items: left;
    margin-right: auto;
    font-size: 15px;


}



.tagCard {
    height: 44px;
    background: red;
    margin: auto;
    padding-inline: 9px;
    border-radius: 3px;
    margin-inline: 11px;
    color: black;
    white-space: nowrap;
    margin-block: 4px;
    text-align: center;
    min-width: 40px;
    max-width: 200px;
    /* padding-top: 0;
    padding-bottom: 0 */
}

.tagCard__dropdown {
    position: relative;
    height: 36px;
    left: -39px;
    width: 30px;
    z-index: 2;
    top: -46px;
    /* background-color: inherit; */
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    font-size: 1px;
    color: rgba(255, 255, 255, 0.6);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

}

.tagCard__rating {
    background: #ff6333;
}

.tagCard__genre {
    background: #ff9100
}

.tagCard__kind {
    background: #ff4569;
}

.tagCard__trope {
    background: #c6ff00;
}

.tagCard__text {
    z-index: 1;
    /* margin-block: 8px; */
    padding-top: 7px;
}

.tagCard__subText {
    text-align: left;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.subText--plus {
    color: #3f50b5
}

.subText--minus {
    color: #f44336
}

.tagCard__plus {
    margin: auto;
    width: 50%;
    border-left: 1px solid grey;
    text-align: center;
}

.tagCard__minus {
    margin: auto;
    width: 50%;
    text-align: center;
}

.commentTagCard {
    height: 20px;
    margin: auto;
    padding-inline: 9px;
    border-radius: 3px;
    margin-inline: 5px;
    color: black;
    white-space: nowrap;
    margin-block: 4px;
    text-align: center;
    min-width: 40px;
    max-width: 200px;
}

.commentTagCard__dropdown {
    position: relative;
    height: 20px;
    /* z-index: 2; */
    background-color: whitesmoke;
    display: flex;
}

.commentTagCard__rating {
    background: red;
}

.commentTagCard__genre {
    background: rgb(0, 89, 255);
}

.commentTagCard__kind {
    background: rgb(21, 182, 0);
}

.commentTagCard__trope {
    background: rgb(177, 64, 158);
}

.commentTagCard__text {
    z-index: 1;
    margin-block: 8px;
    font-size: 14px;
    margin-top: 1px;
    margin-inline: -1px;

}

.commentTagCard__plus {
    margin: auto;
    width: 50%;
    border-left: 1px solid grey;
    text-align: center;
}

.commentTagCard__minus {
    margin: auto;
    width: 50%;
    text-align: center;
}

.voteActive--plus {
    color: #3f50b5
        /* background-color: green; */
}

.voteActive--minus {
    color: #f44336
        /* background-color: green; */
}

.userCard {
    display: flex;
    height: 26px;
    width: 100px;
}

.userCard__username {
    margin-left: 8px;
}

/* .userCard__avatar div img {
    max-height: 40px;
    max-width: 40px !important;
}

.sb-avatar {
    max-height: 40px;
    max-width: 40px !important;

} */

.filmComparisonCard {
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid 1px grey;
    margin-inline: 5px;
    margin-block: 5px;
    opacity: 1;
    background: #1c2229;
    transition: .05s;

}

.fcc--hover {
    transform: scale(1.1)
}