

.filmCardLarge {
    width: 196;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    -webkit-flex: 1;
    text-align: center;
    min-width: 234px;
    margin-inline: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.filmCardLarge__img { 
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
}

.filmCardLarge__interaction {
    /* display: none; */
    top: -55px;
    position: relative;
    background: rgba(200, 200, 200, .5);
    height: 50px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.filmCard__interaction:hover {
    display: block ;
    cursor: pointer;

}

.filmCard__addFilm, .filmCard__deleteFilm {
    display: flex;
    margin: auto;
    position: relative;
    top: 11px;

}

.filmCard__addFilm > svg, .filmCard__deleteFilm > svg {
    margin: auto;
    margin-left: 0;

}
.filmCard__addFilm > p, .filmCard__deleteFilm > p  {
    margin: auto;
    font-size: 17px;
    margin-right: 0;

}


.cardIcon--add {
    font-size: 20px;
}