
.tagActivityCard {
    border: 1px solid white;
    max-width: 333px;
    border-radius: 5px;
    padding: 5px;
    margin-inline: 30px;
}
.tagActivityCard__header {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
}

.tagActivity__header--user {
    margin-left: 10px;
    text-transform:uppercase;
}

.tagActivit__header--filmTitle {
    display: flex;
    margin-right: 10px;
    text-transform: uppercase;
}

.tagActivityCard__body {
    display: flex;
    max-width: 392px;
}