.FilmFeed {
    min-height: 255px;
    width: 95%;
}

.FilmFeed__header {
    text-transform: uppercase;
    margin-left: 90px;
    margin-bottom: 2px;
    margin-top: 20px;
}

.FilmFeed__feed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    /* height: 100%; */
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    overflow-x: scroll;
    padding-block: 16px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    padding-inline: 0;
    min-height: 186px;
    background: #1c2229;
}

.FilmFeed__feed::-webkit-scrollbar {
    display: none;
}

.filmFeedNoSavedFilms {
    height: 100px;
}