.home__welcomeMessage {
    margin: auto;
    font-size: 30px;
    margin-block: 10px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;

}

.FilmFeedDiscover {
    min-height: 268px;
    margin-bottom: 61px;

}

.FilmFeedDiscover__header {
    text-transform: uppercase;
    margin-left: 90px;
    margin-bottom: 2px;


}
.FilmFeedDiscover__feed {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    /* height: 100%; */
    position: absolute;
    width: 100%;
    overflow-x: scroll;
    padding-block: 16px;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
    padding-inline: 30px;

}

.FilmFeedDiscover__feed::-webkit-scrollbar {
    display: none;
}



