.commentFeed__body {
    margin-inline: 180px;
    /* background: #48494b; */
    padding-bottom: 100px;


}

.commentFeed__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    margin-bottom: -6px;
}

.pairwiseCommentFeed__header {
    border-top: 1px solid grey;


}

.commentFeed__header>h2 {
    margin-left: 90px;
    margin-top: 3px;
    position: relative;
    top: 5px;
}

.commentFeed__newComment {
    margin-right: 90px;
    display: flex;
    align-content: flex-end;
    margin: auto;
    margin-right: 141px;
    background-color: green;
    padding-inline: 8px;
    border-radius: 3px;
    color: white;

}

.newComment__text {
    margin: auto;
    margin-right: 4px;


}

.newComment__icon {
    margin: auto;
    margin-top: 6px;
}


.commentFeed__CommentForm {
    margin: auto;
    /* text-align: center; */
    margin-right: 175px;
    margin-left: 375px;


}

.messageInput {
    border-radius: 5px;
}

.messageInput .MuiInputBase-multiline {
    margin-left: auto;
    width: 96%;
}

.messageInput .MuiButton-root {
    margin-left: auto;
    margin-right: 11px;
}