.navbar {
    color: #99aabb;
    display: flex;
    background-color: black;
    border-bottom: 1px solid grey;
}

.nav-pills {
    display: flex;
    width: 100%;
    justify-content: flex-end;

}

.nav-item {
    margin: auto;
    list-style-type: none;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-inline: 15px;
}

.nav-item__searchbar {
    color: rgba(255, 255, 255, 0.8);
}

.nav__logo {
    width: 200px;
    height: 64px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.nav__logo--logo {
    position: relative;
    top: 10px;
    bottom: 0;
    left: 40px;
    font-size: 41px;
}

.logo-dark {
    color: #4e5ee3
}

.logout {
    font-size: 12px;
    /* margin-inline: 27px; */
    margin-top: 8px;
    text-align: end;
    margin-left: 10px;
    margin-top: 7px;
    color: #99aabb;
}

.nav__avatar {}

.userCardNav__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userCardNav {
    min-width: 176px;
    position: relative;
    top: -12px;
}

.userCardNav__body {}