.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

.form--login {
  width: 40%;
  margin: auto;
  margin-top: 20%;
}

.login__form--submit {
  float: right;
}

.login__orDivider {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 28px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login__orDivider--line {
  border-top: 1px solid #edeff1;
  width: 40%;
}

.login__orDivider--text {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #878a8c;
  text-transform: uppercase;
}