.login {
    height: 700px;
}

.login__main {
    background-color: white;

    /* margin-top: 100px; */
    position: relative;
    top: 45px;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.MuiBox-root {
    margin-top: 0px;
    padding-bottom: 5px;
}

.css-binzgt {

    margin-top: unset;
    margin-top: 38px;
}

.login__notFound {
    color: #f44336;
}

.login__signUp {
    color: #1976d2
}

.login__signup a:visited {
    color: green;
}

.login__signup a:link {
    color: green;
}