{
  "users": [
    {
      "id": 1,
      "firstName": "example",
      "lastName": "exapmle",
      "email": "example@example.com",
      "username": "example",
      "imgURL": null
    }
  ],
  "usersFilms": [
    {
      "userId": 1,
      "filmId": 11,
      "id": 1
    }
  ],
  "tags": [
    {
      "id": 1,
      "name": "example",
      "type": "rating"
    }
  ],
  "usersFriends": [
    {
      "currentUserId": 1,
      "userId": 1,
      "id": 1
    }
  ],
  "comments": [
    {
      "text": "Eample",
      "userId": 1,
      "filmId": 639721,
      "dateTime": 1634921579019,
      "id": 1
    }
  ],
  "commentsTags": [
    {
      "commentId": 1,
      "tagId": 1,
      "id": 1
    }
  ],
  "userComparisons": [
    {
      "userId": 1,
      "plusFilmId": 11,
      "minusFilmId": 782,
      "id": 1
    }
  ],
  "starredFilmPairs": [
    {
      "userId": 1,
      "filmA": 600,
      "filmB": 62,
      "id": 1
    }
  ],
  "pairComments": [
    {
      "text": "example",
      "userId": 1,
      "filmIdA": 9476,
      "filmIdB": 862,
      "dateTime": 1635702195842,
      "id": 1
    }
  ],
  "userFilmRating": [
    {
      "userId": 1,
      "filmId": 603,
      "rating": 5,
      "id": 1
    }
  ]
}